<div class="wrap-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 wrap-loading-menu">
        <div class="loading-menu">
          <div class="loading-menu-title">
            Загрузите ваш план-график
          </div>
          <div class="loading-menu-rofl">
            <div class="loading-menu-rofl-img">
              <img src="https://wac-cdn.atlassian.com/dam/jcr:4335af03-6bc6-4fa2-80b9-f5d1729f02d2/quote.svg?cdnVersion=1310" alt="">
            </div>
            <div class="loading-menu-rofl-text">
              Система для автоматической оптимизации план-графика работ (интеллектуальное сжатие графика)
            </div>
          </div>
          <div class="loading-menu-button">
            <input style='display: none' type="file" (change)="onFileSelected($event)" #fileInput>
<!--            <button mat-raised-button color="primary" (click)="fileInput.click()">Загрузить</button>-->
            <button mat-raised-button color="primary" (click)="test()">Загрузить</button>
          </div>
        </div>

      </div>
      <div class="col-8 wrap-loading-menu">
        <img
          src="https://wac-cdn.atlassian.com/dam/jcr:b86a32cb-0aa8-4783-aa81-9592d4fbf829/jsw-header-illustrations---v3.png?cdnVersion=1310"
          alt="" class="rofl-jira">
      </div>
    </div>
  </div>
</div>

