<div class="container">
  <div class="row">
    <div class="col-4 help-col">

      <div class="help-block">
        <div class="title-help-block mb10">
          Варианты оптимизации
        </div>
        <div class="help-block-main">
          <div class="option-plan-list">
            <div *ngFor="let optimization of optimizeOptions.penalty; index as i" class="option-plan"
                 [ngClass]="i === selectedOptimization ? 'option-plan-selected' : ''"
                 (click)="onSelectOptimization(i)">
              <div class="option-plan-time flex-center-y">
                <mat-icon aria-hidden="false" aria-label="Example home icon">date_range</mat-icon>
                Закончим к {{ optimization[0] }} дню
              </div>
              <div class="option-plan-time flex-center-y">
                <mat-icon aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>
                Заплатим {{ optimization[1] }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <form class="help-block" [formGroup]="formChanges" (submit)="onSubmit()">
        <div class="title-help-block">
          Внести изменения в сроки
        </div>
        <div class="help-block-main">
          <div class="change-task-inputs flex-center-y">
            <div class="add-task-input">
              <input type="text" placeholder="Новая дата начала" formControlName="date">
            </div>
          </div>
          <div class="change-task-inputs flex-center-y">
            <div class="add-task-input">
              <input type="text" placeholder="Новая нормальная длительность" formControlName="duration">
            </div>
          </div>
          <div class="change-task-inputs flex-center-y">
            <div class="add-task-input">
              <input type="text" placeholder="ID" formControlName="id">
            </div>
            <div class="add-task-input">
              <button mat-flat-button color="primary" type="submit" [disabled]="formChanges.invalid">Изменить задачу
              </button>
            </div>
          </div>


        </div>
      </form>

    </div>
    <div class="col-8 mail-col">
      <div class="main-block">
        <div class="title-main-block">
          Ваши задачи
        </div>
        <div class="main-block-content">
          <mat-form-field>
            <mat-label>Поиск</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
          </mat-form-field>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <ng-container *ngFor="let columnNum of columnNums" [matColumnDef]="dataHeader[columnNum]">
                <th mat-header-cell *matHeaderCellDef> {{ dataHeader[columnNum]}} &nbsp;</th>
                <td mat-cell *matCellDef="let element" style="text-align: center"> {{element[columnNum]}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="dataHeader"></tr>
              <tr mat-row *matRowDef="let row; columns: dataHeader;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>

          <div class="add-task flex-center-y">
            <div class="add-task-input">
              <input type="text" placeholder="Название задачи">
            </div>
            <div class="add-task-input">
              <input type="text" placeholder="Дата начала">
            </div>
            <div class="add-task-input">
              <input type="text" placeholder="Зависимый id">
            </div>
            <div class="add-task-input">
              <input type="text" placeholder="Цена сдвига">
            </div>
            <div class="add-task-button">
              <button mat-flat-button color="primary">Создать задачу</button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
